

$shadow1: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
$shadow2: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 3px -2px rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.1);
$shadow3: 0 4px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.07), 0 2px 4px -1px rgba(0, 0, 0, 0.12);
$shadow4: 0 6px 10px 0 rgba(0, 0, 0, 0.1), 0 1px 18px 0 rgba(0, 0, 0, 0.07), 0 3px 5px -1px rgba(0, 0, 0, 0.12);
$shadow5: 0 8px 10px 1px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.07), 0 5px 5px -3px rgba(0, 0, 0, 0.12);
$shadow6: 0 16px 24px 2px rgba(0, 0, 0, 0.1), 0  6px 30px 5px rgba(0, 0, 0, 0.07), 0  8px 10px -5px rgba(0, 0, 0, 0.12);
$shadow7: 0  9px 46px  8px rgba(0, 0, 0, 0.1), 0 11px 15px -7px rgba(0, 0, 0, 0.07), 0 24px 38px  3px rgba(0, 0, 0, 0.12);
$activeShadow: 1px 1px 3px 0 rgba(34, 181, 115, 0.2), 0 1px 10px 0 rgba(34, 181, 115, 0.3), 0 2px 4px -1px rgba(34, 181, 115, 0.4);
