$startAndGrowBlue: #4f5ed4;
$primaryFont: #f7f7f7;
$secondaryFont: #737373;
$primaryDivider: #4f5258;
$secondaryDivider: rgba(171, 171, 171, 0.31);
$secondaryBackground: #2d2d33;
$tertiaryBackground: #4f4f55;
$lightGrey: #f1f1f1;

$startAndGrowGreen: #22b573;
$softPrimaryFont: #bbb;
$softSecondaryFont: #888;
$white: #fff;
$black: #000;
$midGrey: #ddd;
$darkGrey: #222;
$activeGreen: #4CAF50;
$lightBlue: #00ccc4;
$mainBackground: #f1f1f1;
$contentPanel: $secondaryBackground;
$appBarColor: $startAndGrowBlue;
$appBarDivider: $secondaryDivider;
$tabHighlight: $startAndGrowBlue;
$accordianHeader: $secondaryBackground;
$accordianHeaderFont: $primaryFont;
$accordianHeaderDivider: $primaryDivider;
$accordianContent: #f1f1f1;
$accordianContentFont: $secondaryFont;
$videoBackgroundBlack: rgba(0, 0, 0, 0.9);
$videoHeader: $tertiaryBackground;
$navigationMenu: #e5e5e5;
$warningRed: #F44336;

$displayRed: #EF5350;
$displayAmber: #FFCA28;
$displayGreen: #66BB6A;
$displayBlue: #0072b8;
