
$root-font-size: 87.5%;

$x-sm-font-size: 80%;
$sm-font-size: 90%;
$md-font-size: 100%;
$lg-font-size: 110%;
$x-lg-font-size: 120%;

$dashboard-panel-title: 150%;
$course-description-title: 340%;
$course-overview-creator-name: 115%;
$course-contents-name: 95%;

$icon-x-large-font-size: 155%;
$icon-large-font-size: 130%;
$icon-medium-font-size: 115%;
$icon-small-font-size: 75%;
$icon-x-small-font-size: 60%;
