@import 'generic_classes';
@import 'colors';
@import 'z_indexes';


.modal {
  @extend .flex-1, .fixed-0;
  transition: opacity 0.3s;

  &--open {
    opacity: 0.7;
    z-index: $modal-open-z-index;
    background-color: rgba(58, 54, 54, 0.55);
    pointer-events: auto;
  }

  &--closed {
    opacity: 0;
    z-index: $modal-closed-z-index;
    pointer-events: none;
  }
}

.modal__content-container {
  @extend .flex-1, .fixed-0, .flex-center;
  pointer-events: none;

  &--open {
    opacity: 1;
    z-index: $modal-open-z-index;
  }

  &--closed {
    opacity: 0;
    z-index: $modal-closed-z-index;
  }
}

.modal__content {
  @extend .flex;
  max-width: 70%;
  max-height: 70%;
  pointer-events: none;
}
