
$accordian-transition: 0.5s;
$overlaid-container-transition: 3s;
$overlay-transition: 1s;
$side-menu-transition: 0.3s;
$sliding-panels-transition: 0.5s;
$tab-highlight-transition: 0.5s;
$answer-transition: 0.5s;
