.wrap.wrap--padded.account
  .wrap.wrap__narrow
    .gs--m
      .g-3--m.g-gutter--right
        = render 'c/main_application/account_menu'
      .g-9--m
        .account__content
          %h2 Your Account
