- provide :title, 'Customer Contact'

.index-header
  %h1 Customer Contact
  %p

.index-table
  .index-table__content
    .index-table__wrapper
      %table.index_table
        %thead
          %tr
            %th Type
            %th Subject
            %th Recieved
            %th.align-center Delete?
        %tbody
          - @notifications.each do |notification|
            %tr{class: notification.read ? 'read' : 'unread'}
              %td= notification.display_type
              %td= link_to notification.display_name, notification
              %td= notification.created_at
              %td.align-center= link_to fa_icon('trash'), notification, method: :delete, style: 'color: red'
