- if cart&.country_didnt_match_from_paypal
  %p 
    The shipping address country entered in the checkout was different to the one
    you entered on Paypal. 
    
  %p 
    Please reconfirm your country and proceed through the checkout again to ensure 
    appropriate delivery costs are calculated.

  %br