
%h3 3DSecure Redirect
%p You will be redirected shortly.

%form{:id => "pa-form" ,:action => @acsUrl, :method => "post"}
  %input{:name => "creq", :type => "hidden", :value => @cReq }
  %input{:name => "threeDSSessionData", :type => "hidden", :value => Base64.encode64(@md.to_s)}

:javascript
  document.addEventListener("DOMContentLoaded",function(){var b=document.getElementById("pa-form");b&&b.submit()})